{% extends 'base.html.twig' %}

{% block body %}
    <h1>Testounet</h1>

    <div>{{ mySerie.title }} {{ autreVar }}</div>

    <div>

        <div>{{ "now"|date('Y') }}</div>

        {# créer une variable #}
        {% set name="Jérôme" %}
        <h2>{{ name }} ({{ name|length }})</h2>

        {# créer un tableau #}
        {% set colors=["Orange", "Brown", "Turquoise", "Blue"] %}
        <div>nombre de couleur : {{ colors|length }}</div>
        <div>{{ colors|join(' / ') }}</div>
        {% for color in colors %}
            <div>{{ loop.index }}</div>
            <div style="background-color: {{ color }}">{{ color }}</div>
        {% endfor %}

        {# créer un objet #}
        {% set book = {
            title: 'Pifpaf',
            year: 2000,
            author: 'John Doe'}
        %}
        <h3>{{ book.author }}</h3>
        <div>
            {% for key, val in book %}
            <div>{{ key }} : {{ val }}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} | Test{% endblock %}